body {
  margin: 0;
  padding: 0;
}

h1 {
  color: #2d8ccc;
  font-size: 4.5rem;
  text-transform: uppercase;
}

.target-num {
  background-color: #2d8ccc;
  font-size: 4.5rem;
  font-weight: 700;
  color: #f0f0f0;
  padding: 0.1em 0.5em;
  border: 1px solid black;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.numbers {
  margin-top: 5rem;
}

.row {
  justify-content: center;
}

.cell {
  position: relative;
  background-color: #2d8ccc;
  color: #f0f0f0;
  border: 1px solid black;
  padding: 1em;
  margin-right: 0.5rem;
  font-size: 3rem;
  font-weight: 700;
  min-width: 100px;
  max-width: 100px;
  min-height: 100px;
  max-height: 100px;
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.cell span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
